<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" href="dndbeyond.com" style="background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.webworxtechnology.com%2Fwp-content%2Fuploads%2F2018%2F06%2Fweb-development.jpg&f=1&nofb=1)"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>My Stack</h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Studied @</span>
        <span><a href="https://www.lewagon.com/tokyo" class="link" target="_blank">Le Wagon Tokyo</a></span>
      </div>
    </div>
    <div class="post-content-description">
      <p>I studied programming and web development at <a href="https://www.lewagon.com/tokyo" class="link" target="_blank">Le Wagon Tokyo</a> and my stack looks like this right now:</p>
      <ul>
        <li><%= image_tag "ruby.png", id: "rails" %></li>
        <li><%= image_tag "rails_icon.png", id: "rails" %></li>
        <li><%= image_tag "postgresql.png", id: "rails" %></li>
        <li><%= image_tag "Sqlite-square.png", id: "rails" %></li>
        <li><%= image_tag "react.png", id: "rails" %></li>
        <li><%= image_tag "javascript.png", id: "rails" %></li>
        <li><%= image_tag "html5.png", id: "rails" %></li>
        <li><%= image_tag "css3.png", id: "rails" %></li>
      </ul>
    </div>
    <div class="post-content-links">
      <a href="https://github.com/blamb888/">Learn More</a>
    </div>
  </div>
</div>
