<div class="post-container">
  <div class="post-container-body">
    <ul class="post-list">
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/projects' %></li>
      <li><%= partial 'layouts/partials/cards/MB' %></li>
      <li><%= partial 'layouts/partials/cards/DDS' %></li>
      <li><%= partial 'layouts/partials/cards/SG' %></li>
      <li><%= partial 'layouts/partials/cards/Flats' %></li>
      <li><%= partial 'layouts/partials/cards/PC' %></li>
      <li><%= partial 'layouts/partials/cards/CM' %></li>
      <li><%= partial 'layouts/partials/cards/TWP' %></li>
      <li><%= partial 'layouts/partials/cards/3D' %></li>
      <li><%= partial 'layouts/partials/cards/Shiba' %></li>
    </ul>
  </div>
</div>
