<div class="post-container">
  <div class="post-container-body">
    <ul class="post-list">
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
      <li><%= partial 'layouts/partials/cards/stack' %></li>
    </ul>
  </div>
</div>
