<!DOCTYPE html>
<html>
  <head>
    <title>Brandon Codes</title>
    <meta charset="UTF-8">
    <meta name="description" content="add a description">
    <meta name="keywords" content="Ruby, JavaScript, Rails, React, Git, Heroku, Dungeons & Dragons">
    <meta name="author" content="Brandon Codes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="page-frame-content">
      <div class="page-frame-header">
      </div>
      <div class="page-frame-body">
        <div class="card_white" id="title_card">
          <%= image_tag "profile_image.jpg", id: "profile_image" %>
          <h1>Brandon Lamb</h1>
          <ul class="header_ul">
            <li>
              <h4>Full Stack Developer</h4>
            </li>
            <li>
              <h4><a href="https://www.dndbeyond.com/" id="btn_olive" target="_blank">
                  D&D Enthusiast</a></h4>
            </li>
            <li>
              <h4>Great Smiler</h4>
            </li>
          </ul>
        </div>
        <div class="card-container">
          <div class="card_white">
            <%= image_tag "stack.jpg", class: "card_image" %>
            <h2>My Stack</h2>
            <p>I studied programming at
              <a href="https://www.lewagon.com/tokyo" class="link" target="_blank">Le Wagon Tokyo</a>. Where I learned OOP with Ruby, Ruby on Rails, SQLite, PostgreSQL, HTML5, CSS3, JS and libraries (Bootstrap, jQuery...), and React. So my stack looks like this:
              <ul>
                <li><%= image_tag "ruby.png", id: "rails" %></li>
                <li><%= image_tag "rails_icon.png", id: "rails" %></li>
                <li><%= image_tag "postgresql.png", id: "rails" %></li>
                <li><%= image_tag "Sqlite-square.png", id: "rails" %></li>
                <li><%= image_tag "react.png", id: "rails" %></li>
                <li><%= image_tag "javascript.png", id: "rails" %></li>
                <li><%= image_tag "html5.png", id: "rails" %></li>
                <li><%= image_tag "css3.png", id: "rails" %></li>
              </ul>
            </p>
          </div>
          <div class="card_white">
            <%= image_tag "dragon_jumpers.jpg", class: "card_image" %>
            <h2>Projects</h2>
            <p>I really love building things. Especially things related to games or bringing people together. Please take a look and let me know if you want to collaborate on something.
            </p>
          </div>
          <div class="card_white">
            <%= image_tag "dragon_jumpers.jpg", class: "card_image" %>
            <h2><%= link_to "Mimic's Blackberry", "https://www.mimics-blackberry.com/", target: "_blank" %></h2>
            <p>I was the lead dev on this project. We made a calendar application to help DM's and players
              connect, keep track of time, and take notes about their
              campaigns. The app has pre-made calendar templates for
              different fantasy settings (such as Eberron) seeded with
              cultural events and holidays. I personally wrote the chrome
              extension so players could add notes to their calendars
              without leaving their VTTP's.
            </p>
            <div class="cards">
              <div>
                <%= image_tag "MimicsBlackberry_desktop.jpg", class: "card-category", id: "desktop-image" %>
              </div>
              <div>
                <ul>
                  <li>
                    <%= image_tag "MimicsBlackberry_tablet.jpg", class: "card-category" %>
                  </li>
                  <li>
                    <%= image_tag "MimicsBlackberry_tablet 2.jpg", class: "card-category" %>
                  </li>
                </ul>
              </div>
              <div>
                <ul>
                  <li>
                    <%= image_tag "MimicsBlackberry_mobile.jpg", class: "card-category" %>
                  </li>
                  <li>
                    <%= image_tag "MimicsBlackberry_mobile2.jpg", class: "card-category" %>
                  </li>
                  <li>
                    <%= image_tag "MimicsBlackberry_mobile3.jpg", class: "card-category" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card_white">
            <%= image_tag "dragon_jumpers.jpg", class: "card_image" %>
            <h2><%= link_to "DnD Spells Ranked", "https://dnd-spells-ranked.herokuapp.com/", target: "_blank" %></h2>
            <p>This was a solo project I did. I made an application for ranking and reviewing D&D
              spells. I thought it might be fun to have a constantly up-to-date place for players to go see how other players feel
              about different spells. Thinking of adding a new section
              specifically for people's opinions about what spells to
              take at which level for each class.
            </p>
            <div class="cards">
              <div>
                <%= image_tag "DndSpellsRanked_desktop.jpg", class: "card-category", id: "desktop-image" %>
              </div>
              <div>
                <ul>
                  <li>
                    <%= image_tag "DndSpellsRanked_tablet.jpg", class: "card-category" %>
                  </li>
                  <li>
                    <%= image_tag "DndSpellsRanked_tablet2.jpg", class: "card-category" %>
                  </li>
                </ul>
              </div>
              <div>
                <ul>
                  <li>
                    <%= image_tag "DndSpellsRanked_mobile.jpg", class: "card-category" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card_white">
            <%= image_tag "dragon_jumpers.jpg", class: "card_image" %>
            <h2><%= link_to "Costume Marketplace", "https://rails-costume-airbnb-clone.herokuapp.com/", target: "_blank" %></h2>
            <p>I was lead developer for this one-week market-place project sprint. I did a
              lot of the back-end work on this project, including
              creating the back-end CRUD methods and implementing
              our map, and setting up our Cloudinary services.
            </p>
            <div class="cards">
              <div>
                <ul>
                  <li>
                    <%= image_tag "CostumeMarketPlace_desktop.jpg", class: "card-category", id: "desktop-image" %>
                  </li>
                  <li>
                    <%= image_tag "CostumeMarketPlace_desktop2.jpg", class: "card-category", id: "desktop-image" %>
                  </li>
                </ul>
              </div>
              <div>
                <ul>
                  <li>
                    <%= image_tag "CostumeMarketPlace_desktop3.jpg", class: "card-category", id: "desktop-image" %>
                  </li>
                  <li>
                    <%= image_tag "CostumeMarketPlace_desktop4.jpg", class: "card-category", id: "desktop-image" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card_white">
            <%= image_tag "dragon_jumpers.jpg", class: "card_image" %>
            <h2><%= link_to "Pop-culture Cocktails", "https://pop-culture-cocktails.herokuapp.com/", target: "_blank" %></h2>
            <p>This was the first app I ever made aside from my profile. There is a cocktail bar in Shibuya that serves cocktails based off of famous movies. For instance the "Die Hard" on their menu is basically gasoline. I thought it would be fun to have a place where people could share their ideas of what different movie cocktails should be.
            </p>
            <div class="cards">
              <div>
                <%= image_tag "PopCultureCocktails_fullScr.jpg", class: "card-category", id: "desktop-image" %>
              </div>
              <div>
                <ul>
                  <li>
                    <%= image_tag "PopCultureCocktails_tablet.jpg", class: "card-category" %>
                  </li>
                  <li>
                    <%= image_tag "PopCultureCocktails_mobile.jpg", class: "card-category" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card_white">
            <%= image_tag "potion.jpg", class: "card_image", id: "potion_image" %>
            <h2>3D Art</h2>
            <p>I am an avid gamer and in my spare time I like to model and texture different nerdy things.
              Check out my <a href="https://www.artstation.com/starry_b" class="link" target="_blank">Artstation</a>
              or my <a href="https://www.behance.net/starry_b_tokyo" class="link" target="_blank">Behance</a>.
              I am even part of a nerdy modding group <a href="https://beyondskyrim.org/" class="link" target="_blank">Beyond Skyrim</a>.
              If you're in Marrowind keep an eye out for some of my future work;)
              <div id="video">
                <iframe src="https://www.youtube.com/embed/Rd5BCzXKf-U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </p>
          </div>
          <div class="card_white">
            <%= image_tag "ripley_leaves.jpeg", class: "card_image" %>
            <h2>Shiba Dad</h2>
            <p>Enough talk about me.
              You're all here for the pupper photos, I know.
              Please like and follow my dog Ripley on her
              <a href="https://www.instagram.com/ripley_the_tokyo_shiba/" class="link" target="_blank">Instagram</a>.
            </p>
          </div>
          <div class="card_white">
            <%= image_tag "dnd_logo_olive.png", id: "dnd_logo", class: "card_image" %>
            <h2>D&D Nerd</h2>
            <p>I have been playing Dungeons and Dragons for a couple of years now. I mainly DM but I love to be a player as well. Let me know if you want to <%= link_to "roll for initiative", "https://app.roll20.net/users/3742675/brandon-l", target: "_blank" %> on something!
            </p>
          </div>
        </div>
      </div>
      <div class="page-frame-footer">
        <div class="footer">
          <ul class="footer-links">
            <li><a href="https://www.facebook.com/brandon.lamb.1987/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/lamb-brandon/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/blamb888" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.artstation.com/starry_b" target="_blank"><i class="fab fa-artstation"></i></a></li>
            <li><a href="https://www.behance.net/starry_b_tokyo" target="_blank"><i class="fab fa-behance-square"></i></a></li>
            <li><a href="https://www.instagram.com/starry_b_eats/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.instagram.com/ripley_the_tokyo_shiba/" target="_blank"><i class="fab fa-instagram"><%= image_tag "doge_png.png", id: "doge" %></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
